.navbar {
    border: 2px solid black;
    background-color: lightgray;
    padding: 1%;
    position: fixed;
}
.introduction {
    border: 2px solid black;
    background-color: lightgrey;
    padding: 1%;
    position: fixed;
    float: left;
}
.img {
    float: right;
    width: 100px;
}
.assignment {
    border: 2px solid black;
    background-color: lightgrey;
    padding: 1%;
    position: absolute;
}
.portfolio {
    border: 2px solid black;
    background-color: lightgrey;
    padding: 1%;
}
div {
    width: 95%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
.t01 {
    background-color: skyblue;
}
.t02 {
    background-color: orange;
}
.t03 {
    background-color: lightgreen;
}
.t04 {
    background-color: gold;
}
.t05 {
    background-color: rgb(219, 124, 219);
}
footer {
    text-align: center;
    padding: 3px;
    background-color: darksalmon;
    color: white;
    position: fixed;
}

